body{
    background-color: #848dff;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
}

.container{
    margin: 0px 20px;
    padding: 0.5em;
    align-items: center;
}
.lista-titulo{
    background-color: var(--branco);
    color: var(--laranja);
}
.menu-aba{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.menu-lista{
    display: none;
    position: absolute;
    width: 60vw;
}
.menu-checkbox:checked ~ .menu-lista{
    display: block;
}
.lista-item{
    padding: 1em;
    background-color: white;
}
.menu-checkbox{
    display: none;
}

